@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    margin: 0;
}

.navbar .logo img {
    max-width: 100%;
    height: auto;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.statesearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 0;
}

.srch {
    width: 400px;
    height: 50px;
    color: #000;
    background: #eee;
    border: 3px solid #000;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.btn {
    height: 50px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    color: #eee;
    background-color: #000;
    border: 2px solid #eee;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.btn:hover {
    background-color: rgba(240, 183, 27, 0.877);
    color: #000;
}

.map {
    text-align: center;
    padding: 20px 0;
}

.explore {
    padding: 50px;
    background-color: #fff;
}

.explore-text {
    text-align: center;
    padding: 10px 0;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.site-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Align items to the start */
    padding: 20px;
}

.site-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 0 1 23%; /* Ensures four cards fit in one row at full size */
    text-align: center;
    transition: transform 0.2s;
    text-decoration: none;
}

.site-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.card-content p {
    font-size: 16px;
    color: #777;
    line-height: 1.4;
}

.site-card:hover {
    transform: translateY(-10px);
}