/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: #fff;
    font-weight: bold;
}

/* Hero Section */

.hero-content {
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* About Section */
.about {
    padding: 50px;
    background-color: #f4f4f4;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 40px;
}

.about-content {
    flex-direction: row-reverse;
}

.about-image {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
}

.about-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.about-text h4 {
    font-size: 22px;
    margin: 20px 0 10px;
    color: #444;
}

.about-text p, .about-text ul {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.about-text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.pinmap, .view {
    flex: 1;
    width: 100%;
    height: 80vh; /* Moderate height for the map and street view */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.pinmap iframe, .view iframe {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
    display: block;
    padding: 0;
}

.mapview {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.map-title, .view-title {
    padding: 10px 0;
    margin: 0;
}

.map {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.view {
    flex: 1;
}

/* Explore Section */
.explore {
    padding: 50px;
    background-color: #fff;
}

.explore h2 {
    margin-bottom: 20px;
}

.site-container, .culture-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.site-card, .culture-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 22%;
    text-align: center;
    transition: transform 0.2s;
    display: block;
    text-decoration: none;
}

.explore-text {
    text-align: center;
    padding: 10px 0;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.site-card img, .culture-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
}

.card-content p {
    font-size: 16px;
    color: #777;
    line-height: 1.4;
}

.site-card:hover, .culture-card:hover {
    transform: translateY(-10px);
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .about-content {
        flex-direction: column;
    }

    .about-content.image-left, .about-content.image-right {
        flex-direction: column;
    }

    .about-text, .about-image {
        width: 100%;
    }

    .about-text {
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .site-card, .culture-card {
        width: 45%;
    }

    .pinmap, .view {
        height: 60vh; /* Adjusted height for medium screens */
    }
}

@media (max-width: 768px) {
    .site-card, .culture-card {
        width: 100%;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 20px;
    }

    .btn-primary {
        padding: 8px 16px;
    }

    .about-text h3 {
        font-size: 24px;
    }

    .about-text h4 {
        font-size: 20px;
    }

    .about-text p, .about-text ul {
        font-size: 14px;
    }

    .pinmap, .view {
        height: 50vh; /* Adjusted height for smaller screens */
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 18px;
    }

    .btn-primary {
        padding: 6px 12px;
    }

    .about-text h3 {
        font-size: 20px;
    }

    .about-text h4 {
        font-size: 18px;
    }

    .about-text p, .about-text ul {
        font-size: 12px;
    }

    .pinmap, .view {
        height: 40vh; /* Adjusted height for the smallest screens */
    }
}